html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.login-box h1{
  float: left;
  font-size: 28px;
  border-bottom: 3px solid rgb(169, 236, 181);
  margin-bottom: 50px;
  padding: 13px 0;
}
.checkbox {
  font-weight: 400;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 3px solid rgb(236, 231, 169);
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

#custom-alert {
  top: 10px;
  position: fixed;
}
.bg {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('../images/signin_bg_.png') repeat center center scroll;
    background-attachment: fixed;
    height: 350px;
}
.mb-4 {
    margin-top: 250px;
}
.btn {
  width: 100%;
  background: none;
  border: px solid;
  color: rgb(219, 163, 163);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}