.navbar-offset {
    margin-top: -4rem;
    padding-top: 5rem;
}

#title {
    max-width: 300px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid rgb(236, 231, 169);
}

#value {
    font-size: 20px;
}

#email {
    font-size: 13px;
}

#article {
    border-bottom: 3px solid rgb(169, 226, 236);
    width: 40%;
}

#comment_b {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
    border-radius: 4px;
}

#notify {
    cursor: pointer;
}
  
#comment_b:hover {
    background-color: #008CBA;
    color: white;
}
.nav-item:hover{
    animation-duration: 0.8s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      padding-left: 100%;
      width: 100%;
    }
  
    to {
      padding-left: 0%;
      width: 100%;
    }
  }